
<div class="card">
  <h1>My Profile</h1>
  <div class="row">
    <div class="label">Name</div><div class="value">{{ user.name }}</div>
  </div>
  <div class="row">
    <div class="label">Job Title</div><div class="value">{{ user.title }}</div>
  </div>
  <div class="row">
    <div class="label">Office</div><div class="value">{{ user.office }}</div>
  </div>

  <!-- TODO: Hook to real org/user service -->
  <p class="note">You can later bind this to your user directory or Graph APIs.</p>
</div>
